.modalStyle {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
}

.childStyle {
    opacity: 1;
    position: absolute;
    top: 52%;
    left: 50%;
    width: 547px;
    height: 303px;
    transform: translate(-50%, -55%);
    border-radius: 12px;
    box-shadow: 0 6px 24px 0 rgba(141, 141, 214, 0.22);
    background-color: #ffffff;
    transition: 600ms;

    @media (min-width: 320px) and (max-width: 767px) {
        width: 90%;
        left: 50%;
        top: 50%;
    }
}

.background {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
    position: absolute;
    right: .5rem;
    top: .5rem;
    font-size: 1.8rem;
    color: #b7b9cf;
}